<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="trabajoPractico.Properties.Settings.Guia1_labConnectionString"
            connectionString="Data Source=CACUMEN-39FF05D\SQLEXPRESS;Initial Catalog=Guia1_lab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>